body {
    margin: 1.5em;
    background-color: rgb(38, 38, 38);
}

header {
    display: flex;
    justify-content: space-between;

    .site_title {
        color: rgb(197, 197, 197);
        text-decoration: none;
        font-size: 2rem;
        font-weight: 400;

        span {
            color: rgb(135, 135, 135);
        }
      }

    .menu { 
        width: 2.5em;
        margin-top: -.6em;
        cursor: pointer;

    }
}

nav {
    position: fixed;
    right: 0;
    top: 0;
    background: white;
    height: 100vh;
    width: 50%;
    z-index: 999;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;

    ul {
        list-style-type: none;
        padding: 0;
        margin-top: 8em;

        a {
            color: black;
            padding: .75em 2em;
            display: block;
            text-decoration: none;

            &:hover {
                background: rgb(211, 211, 211);
            }
        }
    }

    .close {
        float: right;
        margin: 2em;
        width: 2.5em;
    }
}

.open-nav {
    transform: translateX(0%);
}

.hero {
    color:rgb(207, 207, 207);
        
}

.about_hero {
    margin-top: 3rem;
    margin-bottom: 3rem;
    color:rgb(207, 207, 207);
    font-size: 1.3em;
    display: flex;
    align-items: center;

    img {
        border-radius: 10px;
        margin-right: 1rem;
        object-fit: fill;
        width: 3.5rem;
        height: 100%;
      }
  }
  
.page_content {
    line-height: 2;
    font-size: 1.2em;
}

.feature {
    color: rgb(207, 207, 207);
    .more_info {
        color: rgb(207, 207, 207);
    }

    a {
        color: rgb(207, 207, 207)
    }

  
}


.portrait {
    height: 250px;
}



@media only screen and (min-width: 680px) {
    body {
        margin: 1.5em 5em;
    }
    
}

@media only screen and (min-width: 920px) {
    .menu {
        display: none;
    }

    nav {
        transform: translateX(0);
        position: unset;
        display: block;
        width: auto;
        height: auto;
        background: none;

        .close {
            display: none;
        }

        ul {
            display: flex;
            margin: 0;

            a {
                color: rgb(211, 211, 211);
                padding: .5em 1.5em;
                font-size: .9rem;

                &:hover {
                    background: none;
                    text-decoration: underline;
                }
            }
        }
    }

}

@media only screen and (min-width: 1200px) {
    body {
        width: 1000px;
        margin: 0 auto;
    }
}