/* Header */
header {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}
header .site_title {
  color: rgb(197, 197, 197);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 400;
}
header .site_title span {
  color: rgb(135, 135, 135);
}
header .menu {
  width: 2.5em;
  margin-top: -0.6em;
  cursor: pointer;
}

/* Body */
body {
  margin: 1.5em;
  background-color: rgb(35, 35, 35);
}

/* Navigation */
nav {
  position: fixed;
  right: 0;
  top: 0;
  background: white;
  height: 100vh;
  width: 200px;
  z-index: 999;
  text-transform: uppercase;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 8em;
}
nav ul a {
  color: black;
  padding: 0.75em 2em;
  display: block;
  text-decoration: none;
}
nav ul a:hover {
  background: rgb(211, 211, 211);
}
nav .close {
  float: right;
  margin: 2em;
  width: 2.5em;
}

.open-nav {
  transform: translateX(0%);
}

.page_content {
  line-height: 2;
  font-size: 1.2em;
}

/* Home */
.home_hero {
  color: rgb(207, 207, 207);
}

.about_home {
  color: rgb(207, 207, 207);
}

.projects_home {
  color: rgb(207, 207, 207);
}
.projects_home .project_home {
  text-decoration: none;
  color: rgb(134, 134, 134);
}
.projects_home .project_home:hover {
  text-decoration: underline;
}

.contact_home {
  color: rgb(207, 207, 207);
}

.more_info {
  font-weight: 500;
  text-decoration: none;
  color: rgb(76, 94, 131);
  margin-top: 0;
  transition: padding 0.15s ease-in-out;
}
.more_info:hover {
  padding-left: 0.3rem;
}
.more_info:after {
  content: " >";
}

.portrait {
  height: 250px;
}

/* Contact Info */
.contact__item {
  color: rgb(135, 135, 135);
  text-decoration: none;
  display: grid;
  grid-template-columns: 2fr 3fr;
  max-width: 21rem;
}
.contact__item a {
  text-decoration: none;
  color: rgb(72, 145, 100);
}
.contact__item a:hover {
  text-decoration: underline;
}

/* About */
.about_hero {
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: rgb(207, 207, 207);
  font-size: 1.3em;
  display: flex;
  align-items: center;
}
.about_hero img {
  border-radius: 10px;
  margin-right: 1rem;
  -o-object-fit: fill;
     object-fit: fill;
  width: 3.5rem;
  height: 100%;
}

.about_text {
  color: rgb(207, 207, 207);
}

/* Projects */
.projects_hero {
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: rgb(207, 207, 207);
  font-size: 1.3em;
  display: flex;
  align-items: center;
}

.project_page_content {
  --spacing: 0.5rem;
  color: rgb(211, 211, 211);
  display: grid;
  gap: 1rem;
}

.project_entry {
  padding: 0.875rem;
  background: rgb(43, 43, 43);
  border-radius: 0.5rem;
}

.project__title {
  text-decoration: none;
  color: rgb(135, 135, 135);
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2;
  transition: opacity 0.15s ease-in-out;
}
.project__title:hover {
  text-decoration: underline;
}

.project__gist {
  display: block;
  margin-bottom: var(--spacing);
}

/* Blog */
.blog_hero {
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: rgb(207, 207, 207);
  font-size: 1.3em;
  display: flex;
  align-items: center;
}

.blog_page_content {
  --spacing: 0.5rem;
  color: rgb(211, 211, 211);
  display: grid;
  gap: 1rem;
}

.blog__post {
  padding: 0.875rem;
  background: rgb(43, 43, 43);
  border-radius: 0.5rem;
}

.blog__title {
  text-decoration: none;
  color: rgb(135, 135, 135);
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.45;
  transition: opacity 0.15s ease-in-out;
}
.blog__title:hover {
  opacity: 0.8;
}

.blog__date {
  display: block;
  margin-right: 0.75rem;
  margin: 0.125rem 0 0.5rem;
  font-size: 0.875rem;
}

.blog__gist {
  display: block;
  margin-bottom: var(--spacing);
}

@media only screen and (min-width: 680px) {
  body {
    margin: 1.5em 5em;
  }
}
@media only screen and (min-width: 920px) {
  .menu {
    display: none;
  }
  nav {
    transform: translateX(0);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;
  }
  nav .close {
    display: none;
  }
  nav ul {
    display: flex;
    margin: 0;
  }
  nav ul a {
    color: rgb(211, 211, 211);
    padding: 0.5em 1.5em;
    font-size: 0.9rem;
  }
  nav ul a:hover {
    background: none;
    text-decoration: underline;
  }
}
@media only screen and (min-width: 1200px) {
  body {
    width: 1000px;
    margin: 0 auto;
  }
}/*# sourceMappingURL=main.css.map */